 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://fonts.googleapis.com/css?family=Allerta+Stencil);
$blue: #0A8FD5;
$green: #27AE60;
$red: #E74C3C;


// Custom Styles
body {
  background: #fafafa;
  font-family: 'Allerta Stencil', sans-serif;
  color: #333;
}

.container {
  font-family: 'Allerta Stencil', sans-serif;
  width: 965px;
  margin: auto;
  overflow: hidden;

}

header{
  background-color:$green;
  font-family: 'Allerta Stencil', sans-serif;
  height:100px;
  h1{
    font-family: 'Allerta Stencil', sans-serif;
    margin-top:40px;
    margin-bottom:40px;
    font-size: 40px;
  }
  .nav {
    font-family: 'Allerta Stencil', sans-serif;
    float:right;
    margin-top:0;
  }
}
aside{
  @include span-columns(3);
  float:left;
  font-family: 'Allerta Stencil', sans-serif;
  background-color:$red;
  .map{
    height: 170px;
  }
}

article{
  @include span-columns(9);



  .highlights{
    width:100%;
    img{
      border-radius: 50%;
      height: 90px;
      margin:3px;
      width: 90px;
      padding: 0;
    }
    background-color:$blue;
    display:block;
    float:right;
  }
}


.blue{
  background-color:$blue
}

.green{
  background-color:$green
}

.red{
  background-color:$red
}
